# Project dependencies
streamlit
pandas
python-dotenv

openai==1.99.9

neo4j

sentence-transformers
torch
torchvision

chromadb

datasets
openpyxl

ragas==0.2.12

langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-openai==0.3.28
langchain-huggingface

protobuf==3.20.3

rank-bm25